.review-form-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}
#review-box {
    height: 170px;
    width: 400px;
    margin-bottom: 10px;
}

.review-form {
    display: flex;
    flex-direction: column;
}
.filled-star {
    color: gold;
    font-size: 50px
}

.empty-star {
    color: grey;
    font-size: 50px;
    
}
.stars-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 5px;
}


