.profile-dropdown {
position:absolute;
z-index: 5;
  box-sizing: border-box;
  width: 150px;
  border: 1px solid #ccc;
  border-radius:11px;
  padding: 0;
  right: 20px;
  margin-top: 5px;
  /* box-shadow: 5px 5px 5px 100px rgba(236, 235, 235, 0.03) */
}
.profile-dropdown > li {
  list-style-type: none;
  /* position: relative;
  z-index: 1; */
}

.hidden {
  display: none;
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  background-color: gray;
  margin-top: 0;
  height: 70px;
  padding-top: 0px;
  /* position: fixed; */
  /* z-index: 1000; */
  align-items: center;
  /* width: 100%; */

  

}
.navigation-bar > li {
  list-style-type: none;
}
a {
  text-decoration: none;
}