@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
form {
    display: flex;
    flex-direction: column;
    /* margin: 100px; */
    width: 400px;
    /* justify-content: center;
    align-items: center; */
    margin: 40px;
    box-sizing: border-box;



}
.login-form {
    /* display: block; */
    width: 100%;
    /* text-align: center; */
    
}
input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    height: 25px;
  

}
button {
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 45px;
}